* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  counter-reset: number;
}

main {
  width: 100%;
  background-color: blue;
  padding: 1.5rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.container > .item {
  background-color: #fff;
  padding: 2rem;
}
.item h2 {
  padding: 1rem 0;
  border-bottom: 0.4px solid gainsboro;
  font-size: 5rem;
  color: blue;
}
.goal-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 1rem 3rem;
  gap: 2rem;
  border-bottom: 0.4px solid gainsboro;
}
.goal-img {
  display: flex;
  justify-content: center;
}
.goal-img span {
  font-size: 5rem;
}
.goal-text h4 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.goal-text p {
  font-size: 1.8rem;
  line-height: 1.8;
}
.scopes {
  grid-area: 2 / 1 / 3 / 2;
}
.scope-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 3rem;
}
.scope-item h3 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.scope-item p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.team-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.team-container span {
  font-size: 4rem;
}
.team-img {
  display: flex;
  justify-content: center;
}
.team-text h4 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.team-text p {
  font-size: 1.8rem;
}

.primary {
  grid-area: 4 / 1 / 5 / 2;
}
.primary-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 2rem;
}
.primary-container span {
  font-size: 5rem;
}
.primary-img {
  display: flex;
  justify-content: center;
}
.primary-container p {
  font-size: 1.8rem;
}

.timeline-container {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.timeline h2 {
  margin-bottom: 0;
}
.timeline-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.timeline-img {
  display: flex;
}
.timeline-img::before {
  counter-increment: number;
  display: flex;
  content: counter(number);
  height: 7rem;
  width: 7rem;
  background-color: blueviolet;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 3.5rem;
  border: 1px solid black;
}
.timeline-text {
  border-bottom: 2px dotted blue;
  padding: 0 0.5rem 1rem 0;
}
.timeline-text h4 {
  margin-bottom: 1rem;
  font-size: 3rem;
}
.timeline-text p {
  font-size: 1.8rem;
}
